extends ./layout.jade
include ../mixins/util.jade


//官方翻译为继承 很难理解 HTML咋继承呢?
//实际上就是有一个最基本的布局 只包含了header  body  footer
//

//jade的各种用法实际上是将各种文件拼接在一起
//本文件第一句就是 extends ./layout.jade  在这个文件中定义了一些锚点
//也就是block tilte    block style 这样的东西
//而这里也有 block title  block style  实际上就是把属于block title的东西都插入到 layout.jade的对应位置中


block title
  title= resume_title

block style
  link(rel='stylesheet', href="index.css")

block header
  header.row
    figure.header-qrcode
      //+responsive("qrcode", contact.wechat, "invisible-lt-sm visible-print")
    section.title
      h1= name
      h2= job_description.join("/")
    address
      ul.contact
        each item, key in contact
          //这里调用了 phone  email函数
          +#{key}(item)
          //+responsive("wechat", contact.wechat, "visible-lt-sm invisible-print")

block content
  article.content.row
    article.column-6.first.column
      block blogs
      block education
      block language
      block projects
    article.column-6.last.column
      block experience
      block skills


block footer
  footer
    block repo


block sidebar
  aside
    //block links

block IEcondition
    <!--[if lte IE 8]>
    .lte-ie8-comment-wrapper
      p.lte-ie8-comment #{lt_ie8_comment}
    <![endif]-->